/* CSS declarations go here */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

#topbar {
  position: fixed;
  height: 110px;
  width: 100%;
  z-index: 10;
  padding:15px;
}

#topbar h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 0.9;
  font-style: oblique;
  margin: 0px 0px 0px 0px;
}

#topbar h2 {
  font-weight: 200;
  font-size: 20px;
  margin: 0px 0px 0px 0px;
}

#sidebar {
  position: fixed;
  width: 160px;
  height: 100%;
  padding-top: 110px;
  text-align: center;
  z-index: 1;
}

#body {
  position: relative;
  padding-left: 160px;
  padding-top: 110px;
  height: 100%;
  width: 100%;
}

#pin {
  position: absolute;
  bottom: 0px;
}

#loginContainer {
  width: 160px;
  text-align: center;
}

.collectionHeading {
  font-weight: 300;
  font-size: 20px;
  margin: 5px 5px 5px 5px;
}

#codePane {
  background: #CCCCCC;
  height: 100%;
  z-index: 2;
}

#login-buttons {
  font-size: xx-small;
}

.sidebarNav {
  width: inherit;
  text-align: center;
}

.sidebarNav .active {
  background: #DDDDDD;
}

.sidebarNav img {
  display: block;
  width: 160px;
  padding: 30px 30px 10px 30px;
}

#scriptBody {
  height: 500px;
}

#cloud_params {
  height: 100px;
}

#scriptBody {
  height: 500px;
}
